.usercenterpage{
  :global{
    .am-list-extra{
      overflow: initial !important;
    }
  }
  .signOut{
    background: red;
    width: 80%;
    border: none;
    box-shadow: none;
    margin-top: 3rem;
  }
}