html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

.goodsModal{
  .title{
    padding: 15px 15px 9px 15px;
    font-size: 14px;
    color: #888;
    width: 100%;
    box-sizing: border-box;
  }
  .am-list-body{
    .am-list-content{
      display: flex;
    }
  }
}
